.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  input {
    height: 1.5rem;
    width: 20rem;
    font-size: 1rem;
  }

  .error-field {
    position: absolute;
    top: 4rem;
    color: red;

  }
}

.friend-error-field {
  color: red;
}

.friend-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: dimgray solid 1px;
  padding: 1rem;
}

button {
  font-size: 1.2rem;
  height: 2rem;
  width: 10rem;
}


