<form *ngIf="!result" [formGroup]="exampleForm">

  <div class="form-item">
    <label for="name">Name</label>
    <input id="name" formControlName="name">
    <div *ngIf="isInputValid('name')" class="error-field">
      <div *ngIf="name.errors.required">Name is required</div>
    </div>
  </div>

  <div class="form-item">
    <label for="email">E-mail</label>
    <input id="email" formControlName="email">
    <div *ngIf="isInputValid('email')" class="error-field">
      <div *ngIf="email.errors.required">E-mail is required</div>
      <div *ngIf="email.errors.email">Invalid email</div>
      <div *ngIf="email.errors.isExistingEmail">This e-mail already exists</div>
    </div>
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="isInputValid('password')" class="error-field">
      <div *ngIf="password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-item">
    <label for="password-confirm">Confirm password</label>
    <input id="password-confirm" formControlName="passwordConfirm" type="password">
    <div *ngIf="isInputValid('passwordConfirm')" class="error-field">
      <div *ngIf="passwordConfirm.errors.required">Password confirmation is required</div>
      <div *ngIf="passwordConfirm.errors.noMatch">Password does not match</div>
    </div>
  </div>

  <button type="button" (click)="addFriend()">Add friend</button>

  <div *ngIf="friends.length > 0" formArrayName="friends">

    <div *ngFor="let friend of friends.controls; index as i">
      <div [formGroupName]="i" class="friend-container">

        <div class="form-item">
          <label>Name</label>
          <input formControlName="friendName">
          <div *ngIf="isFriendInputValid('friendName', i)" class="error-field">
            <div *ngIf="friends.controls[i].get('friendName').errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-item">
          <label>E-mail</label>
          <input formControlName="friendEmail">
          <div *ngIf="isFriendInputValid('friendEmail', i)" class="error-field">
            <div *ngIf="friends.controls[i].get('friendEmail').errors.required">E-mail is required</div>
            <div *ngIf="friends.controls[i].get('friendEmail').errors.email">Invalid email</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <button type="submit" (click)="submit()">Submit</button>

  <div *ngIf="isFriendCountInvalid" class="friend-error-field">
    <span>Need to add at least 1 friend</span>
  </div>

</form>

<div *ngIf="result">
  {{result}}
</div>
